.bgMain {
  background: url(/assets/bg-foreword.png) center center no-repeat;
  background-size: auto 100%;
}

.bgBtnScroll {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.bgAbout {
  background: url(/assets/bg-about-1.png) left top no-repeat,
    url(/assets/bg-about-2.png) right bottom no-repeat;

  @media (max-width: theme("screens.md")) {
    background: url(/assets/bg-about-xs-1.png) right top no-repeat,
      url(/assets/bg-about-xs-2.png) right 70% no-repeat;
  }
  @media (max-width: theme("screens.lg")) {
    background: url(/assets/bg-about-md-1.png) right top no-repeat;
  }
}
